{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .full-page-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 60px); /* Adjust for header height */
            text-align: center;
            position: relative;
        }
        .back-button {
            position: absolute;
            top: 20px; /* Adjusted for visual spacing */
            left: 20px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            z-index: 10;
        }
        .back-button:hover {
            background-color: #45a049;
        }
        .danger-image {
            margin: 20px 0;
            width: 256px;
            height: 256px;
        }
        .delete-button {
            margin-top: 20px;
        }
    </style>

    <div class="full-page-container">
        <input type="button" value="← Back" onClick="history.go(-1);" class="back-button">
        <h1>{{ object.date }}</h1>
        <h2>Are you sure you want to delete this availability?</h2>
        <img src="{% static 'imgs/danger.png' %}" alt="Danger Image" class="danger-image">

        <form method="post" class="delete-button">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
{% endblock %}
