{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %} {{ view.title }} {% endblock %}

{% block head %}
    {{ block.super }}

    <style>
        .full-page-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 60px);
            text-align: center;
            position: relative;
            padding-top: 40px;
            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        }
        .container {
            width: fit-content;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 60px;
        }
        .back-button.align{
            top: 5px;
        }
        h2 {
            color: #333333;
            margin-bottom: 20px;
            margin-top: 50px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="full-page-container">
        <input type="button" value="← Back" onClick="history.go(-1);" class="btn-custom back-button align">
        <div class="container">
            <h3>{{ text }}</h3>
            <form method="post">{% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn-custom" value="Save">
            </form>
            {{ form.media }}
        </div>
    </div>
{% endblock %}
