[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django-braces = "*"
django-bootstrap-datepicker-plus = "*"
django-tempus-dominus = "*"
python-decouple = "*"
cryptography = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
