{% extends 'base.html' %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block head %}
   <style>
        .align-link-profile {
            margin-right: 40px;
        }

        .chat-container {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }

        .chat-list {
            width: 25%;
            border-right: 1px solid #ddd;
            padding: 10px;
            box-sizing: border-box;
            overflow-y: auto;
        }

        .chat-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            justify-content: space-between;
            text-decoration: none;
            color: black;
        }

        .chat-item img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .chat-item div {
            flex: 1;
            text-align: center;
        }

        .chat-messages {
            width: 75%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow-y: auto;
            margin-right: 0;
        }

        .receiver-info {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
            padding: 10px;
            background-color: #f9f9f9;
            margin-bottom: 10px;
        }

        .receiver-info img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .receiver-info div {
            flex: 1;
        }

        .receiver-info .delete-img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        #chat-log {
            flex: 1;
            overflow-y: auto;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        .message-input-container {
            position: fixed;
            bottom: 0;
            left: 25%;
            width: 75%;
            display: flex;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
            background-color: #fff;
            border-top: 1px solid #ddd;
        }

        #chat-message-input {
            flex: 1;
            height: 50px;
            margin-right: 10px;
            resize: none;
        }

        #chat-message-submit {
            width: 60px;
            height: 50px;
        }

        .bell-img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="chat-container">
        <div class="chat-list">
            <h2>Chats</h2>
            {% for chat in chats %}
                <div class="chat-item" onclick="location.href='{% url 'chat:chat-start' chat.other_participant.id %}'">
                   <img src="{{ chat.other_participant.picture.url }}" class="chat-img" alt="Profile Picture">
                    <div>
                        {% if chat.other_participant.first_name and chat.other_participant.last_name %}
                            {{ chat.other_participant.first_name }} {{ chat.other_participant.last_name }}
                        {% else %}
                            {{ chat.other_participant.user.username }}
                        {% endif %}
                    </div>
                    {% if chat.new_messages %}
                        <img src="{% static 'imgs/bell.png' %}" class="bell-img" alt="New message">
                    {% endif %}
                </div>
            {% empty %}
                <p>No chats available</p>
            {% endfor %}
        </div>

        <div class="chat-messages">
            {% if receiver %}
                <div class="receiver-info">
                    <a href="{% url 'user_profile:view-profile' receiver.id %}?source=chat">
                        <img src="{{ receiver.picture.url }}" alt="Receiver Picture">
                    </a>
                    <div>
                        {% if receiver.first_name and receiver.last_name %}
                            <strong>{{ receiver.first_name }} {{ receiver.last_name }}</strong>
                        {% else %}
                            {{ receiver.user.username }}
                        {% endif %}
                    </div>
                    <img src="{% static 'imgs/delete.png' %}" class="delete-img" alt="Delete">
                </div>
            {% endif %}
            <div id="chat-log">
                {% for message in messages %}
                    <b>{{ message.sender.user.username }}</b>: {{ message.content }}<br>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="message-input-container">
        <textarea id="chat-message-input" type="text"></textarea>
        <button id="chat-message-submit">Send</button>
    </div>

    <script>
        const chatName = "{{ chat_name }}";
        const username = "{{ request.user.username }}";
        if (chatName !== "None") {
            const chatSocket = new WebSocket(
                'ws://' + window.location.host + '/ws/chat/' + chatName + '/'
            );

            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                document.querySelector('#chat-log').innerHTML += '<b>' + data.username + '</b>: ' + data.message + '<br>';
            };

            chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function (e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function (e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': username
                }));
                messageInputDom.value = '';
            };
        }
    </script>
{% endblock %}

{% block bar %}
    <a href="{% url 'user_profile:profile' %}" class="link-profile-image align-link-profile">
        <img src="{{ user.profile.picture.url }}" alt="Link-profile">
    </a>
{% endblock %}
