{% extends 'base.html' %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block head %}
   <style>
        .align-link-profile {
            margin-right: 40px;
        }

        .chat-container {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }

        .chat-list {
            width: 25%;
            border-right: 1px solid #ddd;
            padding: 10px;
            box-sizing: border-box;
            overflow-y: auto; /* Add this */
            position: relative;
            height: calc(100vh - 60px); /* Adjust height to account for any header/footer if present */
            max-height: 100%; /* Ensure the container doesn't exceed its parent */
        }


        .chat-list h2 {
            position: relative;
            background-color: #fff;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            justify-content: space-between;
            text-decoration: none;
            color: black;
        }

        .chat-list h2 img {
            width: 30px;
            height: 30px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

        .chat-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            justify-content: space-between;
            text-decoration: none;
            background-color: white;
            color: black;
        }
        .chat-item div {
            flex: 1;
            text-align: center;
        }

        .chat-item-img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .chat-messages {
            width: 75%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow-y: auto;
            margin-right: 0;
            padding-bottom: 70px;
            background-color: #f9f9e3;
        }

        .receiver-info {
            display: flex;
            align-items: center;
            border: 1px solid #ddd;
            padding: 10px;
            background-color: #f9f9f9;
            margin-bottom: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .receiver-info img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .receiver-info div {
            flex: 1;
        }

        .receiver-info .delete-img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        #chat-log {
            flex: 1;
            overflow-y: auto;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

        .message-box {
            max-width: 60%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            word-wrap: break-word;
            color: white;
            text-align: left;
        }

        .message-box.sent {
            background-color: lightseagreen;
            margin-left: auto;
        }

        .message-box.received {
            background-color: lightslategray;
            margin-right: auto;
        }

        .message-input-container {
            position: fixed;
            bottom: 0;
            left: 25%;
            width: 75%;
            display: flex;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
            background-color: #fff;
            border-top: 1px solid #ddd;
        }
        .message-input-container button{
            font-size: 1em;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #chat-message-input {
            flex: 1;
            height: 50px;
            margin-right: 10px;
            resize: none;
            background-color: #fff;
            outline: none;
        }

        #chat-message-submit {
            width: 60px;
            height: 50px;
        }

        .bell-img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="chat-container">
        <div class="chat-list">
            <h2>
                Chats
                <img src="{% static 'imgs/refresh.png' %}" onclick="location.reload()" alt="Refresh">
            </h2>
            {% for chat in chats %}
                <div class="chat-item" onclick="location.href='{% url 'chat:chat-start' chat.other_participant.id %}'">
                   <img src="{{ chat.other_participant.picture.url }}" class="chat-item-img" alt="Profile Picture">
                    <div>
                        {% if chat.other_participant.first_name and chat.other_participant.last_name %}
                            {{ chat.other_participant.first_name }} {{ chat.other_participant.last_name }}
                        {% else %}
                            {{ chat.other_participant.user.username }}
                        {% endif %}
                    </div>
                    {% if chat.new_messages %}
                        <img src="{% static 'imgs/bell.png' %}" class="bell-img" alt="New message">
                    {% endif %}
                </div>
            {% empty %}
                <p>No chats available</p>
            {% endfor %}
        </div>

        <div class="chat-messages">
            {% if receiver %}
                <div class="receiver-info">
                    <a href="{% url 'user_profile:view-profile' receiver.id %}?source=chat">
                        <img src="{{ receiver.picture.url }}" alt="Receiver Picture">
                    </a>
                    <div>
                        {% if receiver.first_name and receiver.last_name %}
                            <strong>{{ receiver.first_name }} {{ receiver.last_name }}</strong>
                        {% else %}
                            {{ receiver.user.username }}
                        {% endif %}
                    </div>
                    <a href="{% url 'chat:chat-delete' current_chat_id %}">
                        <img src="{% static 'imgs/delete.png' %}" class="delete-img" alt="Delete">
                    </a>
                </div>
            {% endif %}
            <div id="chat-log">
                {% for message in messages %}
                    <div class="message-box {% if message.sender == request.user.profile %}sent{% else %}received{% endif %}">
                        {{ message.content }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if receiver %}
        <div class="message-input-container">
            <label for="chat-message-input"></label><textarea id="chat-message-input" type="text"></textarea>
            <button id="chat-message-submit">Send</button>
        </div>
    {% endif %}

   <script>
        const chatName = "{{ chat_name }}";
        const username = "{{ request.user.username }}";
        let chatSocket;

        function setupWebSocket() {
            if (chatName !== "None") {
                chatSocket = new WebSocket(
                    'ws://' + window.location.host + '/ws/chat/' + chatName + '/'
                );

                chatSocket.onmessage = function (e) {
                    const data = JSON.parse(e.data);
                    const messageClass = data.username === username ? 'sent' : 'received';
                    document.querySelector('#chat-log').innerHTML +=
                        '<div class="message-box ' + messageClass + '">' + data.message + '</div>';
                };

                chatSocket.onclose = function (e) {
                    console.error('Chat socket closed unexpectedly');
                };

                const messageInputDom = document.querySelector('#chat-message-input');
                const sendButton = document.querySelector('#chat-message-submit');

                function toggleSendButton() {
                    sendButton.disabled = messageInputDom.value.trim() === '';
                }

                messageInputDom.addEventListener('input', toggleSendButton);
                messageInputDom.addEventListener('keyup', function (e) {
                    if (e.keyCode === 13 && !sendButton.disabled) {  // enter, return
                        sendButton.click();
                    }
                });

                sendButton.addEventListener('click', function (e) {
                    const message = messageInputDom.value;
                    chatSocket.send(JSON.stringify({
                        'message': message,
                        'username': username
                    }));
                    messageInputDom.value = '';
                    toggleSendButton(); // Disable button after sending
                });

                // Initialize button state
                toggleSendButton();
            }
        }

        function closeWebSocket() {
            if (chatSocket) {
                chatSocket.close();
            }
        }

        // Setup WebSocket connection
        setupWebSocket();

        // Ensure WebSocket is closed before the page unloads
        window.addEventListener('beforeunload', function () {
            closeWebSocket();
        });

        setInterval(function () {
            location.reload();
        }, 30000);  // 30000 milliseconds = 30 seconds
    </script>

{% endblock %}

{% block bar %}
    <a href="{% url 'user_profile:profile' %}" class="link-profile-image align-link-profile">
        <img src="{{ user.profile.picture.url }}" alt="Link-profile">
    </a>
{% endblock %}
