{% extends 'registration/login.html' %}

{% load crispy_forms_filters %}
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block title %} Change Password {% endblock %}

{% block content %}
    <input type="button" value="← Back" onClick="history.go(-1);" class="btn-custom back-button">
    <div class="container">
        <form method="post"> 
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn-login" value="Change password">
        </form>
    </div>
{% endblock %}
