{% extends 'registration/login.html' %}

{% load crispy_forms_filters %}
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block title %} Create a new user {% endblock %}

{% block content %}
    <input type="button" value="← Back" onClick="history.go(-1);" class="btn-custom back-button">
    {% if user.is_authenticated %}
        <div class="full-page-container">
            <h1> Log out before a new registration !!!</h1> 
            <img src="{% static 'imgs/access_denied.png' %}" alt="Access Denied Image">
        </div>
    {% else %}
        <div class="container">
            <form method="post"> 
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn-login" value="Sign up">
            </form>
        </div>
    {% endif %}
{% endblock %}
